# code: language=helm

helmfiles:
  - path: templates/helmfile.all.yaml.gotmpl
    values:
      - atlas:
          appTemplates: tests/templates
          deploymentDefinitions: tests/deployments
          cwd: {{ exec "pwd" (list) }}
          debug: true
          unittest: true
