# code: language=helm

helmfiles:
  - path: templates/helmfile.all.yaml.gotmpl
    values:
      - atlas:
          appTemplates: tests/templates
          deploymentDefinitions: tests/deployments
          cwd: {{ exec "pwd" (list) }}

          unittest: true
          redactSecrets: {{ eq (env "ATLAS_REDACT_SECRETS") "true" }}
          variant: default
