releases:
  - name: app2
    chart: "{{ .Values.atlas.cwd }}/tests/charts/chart1"
    values:
      - aChartValue: overwritten

    {{- if .Values.atlas.unittest }}
    unitTests:
      - tests/{{ .Values.atlas.instance.template }}_test.yaml
    {{- end }}
