releases:
  - name: app-tplsops
    chart: "{{ .Values.atlas.cwd }}/tests/charts/chart1"
    namespace: test
    values:
      - values.yaml.gotmpl
      - tplDefault: fromDefault
        tplSopsOverride: default
      - values.sops.yaml
