releases:
  - name: app-novals
    chart: "{{ .Values.atlas.cwd }}/tests/charts/chart1"
    namespace: test

    {{- if .Values.atlas.unittest }}
    unitTests:
      - tests/{{ .Values.atlas.deployment.deploymentName }}_test.yaml
    {{- end }}
