releases:
  - name: app1
    chart: "{{ .Values.atlas.cwd }}/charts/chart1"
    namespace: test
    values:
      - values.yaml.gotmpl
      - templateDefault: fromDefault
        templateOverride: default
        overrideAll: templateDefault
