releases:
  - name: app-named-{{ .Values.atlas.instance.name }}
    chart: "{{ .Values.atlas.cwd }}/tests/charts/chart1"
    namespace: test

    {{- if .Values.atlas.unittest }}
    unitTests:
      - tests/{{ .Values.atlas.deployment.cluster | replace "/" "-" }}-{{ .Values.atlas.deployment.deploymentName }}-{{ .Values.atlas.instance.name | default .Values.atlas.instance.template }}-{{ .Values.atlas.variant }}_test.yaml
    {{- end }}
