deployGotmplFromGlobalYaml: "{{ .globalOnly }}"
deployGotmplFromGroupYaml: "{{ .groupOnly }}"
deployGotmplFromClusterYaml: "{{ .clusterOnly }}"
deployGotmplFromClusterGotmpl: "{{ .clusterGotmplFromGroupYaml }}"
